<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>filterauteniticazione</filter-name>
        <filter-class>Filter.filterauteniticazione</filter-class>
    </filter>
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>Filter.FilterLogin</filter-class>
    </filter>
    <filter>
        <filter-name>FilterGruppo</filter-name>
        <filter-class>Filter.FilterGruppo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>Home</servlet-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>ImpostazioniAdmin</servlet-name>
        <servlet-name>HomeGroups</servlet-name>
        <servlet-name>CreaGr</servlet-name>
        <servlet-name>CreaGruppoView</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterauteniticazione</filter-name>
        <servlet-name>Home</servlet-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>ImpostazioniAdmin</servlet-name>
        <servlet-name>HomeGroups</servlet-name>
        <servlet-name>CreaGr</servlet-name>
        <servlet-name>CreaGruppoView</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterGruppo</filter-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>ImpostazioniAdmin</servlet-name>
    </filter-mapping>
    <listener>
        <description>webAppContextListener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ViewLog</servlet-name>
        <servlet-class>visualizza.ViewLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>DB.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logged</servlet-name>
        <servlet-class>Servlets.Logged</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>visualizza.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppoView</servlet-name>
        <servlet-class>visualizza.CreaGruppoView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGr</servlet-name>
        <servlet-class>Servlets.CreaGr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeGroups</servlet-name>
        <servlet-class>visualizza.HomeGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-class>visualizza.ViewGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputPost</servlet-name>
        <servlet-class>.InputPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsPost</servlet-name>
        <servlet-class>Servlets.InsPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaUtentiGruppo</servlet-name>
        <servlet-class>Servlets.EliminaUtentiGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaUtenti</servlet-name>
        <servlet-class>Servlets.InvitaUtenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccettaInvito</servlet-name>
        <servlet-class>Servlets.AccettaInvito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpostazioniAdmin</servlet-name>
        <servlet-class>visualizza.ImpostazioniAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rinomina</servlet-name>
        <servlet-class>Servlets.Rinomina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RifiutaInvito</servlet-name>
        <servlet-class>Servlets.RifiutaInvito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPDF</servlet-name>
        <servlet-class>Servlets.CreaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Servlets.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>Servlets.UploadAvatar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewLog</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logged</servlet-name>
        <url-pattern>/Logged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppoView</servlet-name>
        <url-pattern>/CreaGruppoView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGr</servlet-name>
        <url-pattern>/CreaGr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeGroups</servlet-name>
        <url-pattern>/HomeGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroup</servlet-name>
        <url-pattern>/ViewGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputPost</servlet-name>
        <url-pattern>/InputPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsPost</servlet-name>
        <url-pattern>/InsPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaUtentiGruppo</servlet-name>
        <url-pattern>/EliminaUtentiGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaUtenti</servlet-name>
        <url-pattern>/InvitaUtenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccettaInvito</servlet-name>
        <url-pattern>/AccettaInvito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpostazioniAdmin</servlet-name>
        <url-pattern>/ImpostazioniAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rinomina</servlet-name>
        <url-pattern>/Rinomina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RifiutaInvito</servlet-name>
        <url-pattern>/RifiutaInvito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaPDF</servlet-name>
        <url-pattern>/CreaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/UploadAvatar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
